@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

*{
    font-family: "Source Code Pro",serif;
    font-size: 16px;
    padding: 0;
    margin: 0 auto;
}

body{
    background: gray;
}
textarea{
    width: 99%;
    height: 88vh;
    resize: none;
    min-height: 20em;
    background: #121212;
    color: white;
    display: block;

}
#console{
    margin-left: 10px;
    width: 80%;
    height: 10vh;
    font-size: 30px;
}
#submit{
    width: 18%;
    height: 9vh;
    background: #ff412d;
    font-size: 60px;
}
